[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
[alias]
	co = checkout
	promote = !$ZSH/bin/git-promote
 wtf		 = !$ZSH/bin/git-wtf
	count	 = !git shortlog -sn
	amend	 =commit --amend -C HEAD
	all	 =add -A
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	excludesfile = ~/.gitignore
[difftool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/diffmerge/4.2.0.697/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/diffmerge/4.2.0.697/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
	keepBackup = false
[push]
	default = current
