[include]
	path = ~/.gitconfig.local
[alias]
	# Graphs/Charts
	st = status --short --branch
	lg = log --graph --topo-order --abbrev-commit --date=short --decorate --all --boundary --pretty=format:'%Cgreen%ar %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%cn]%Creset'

	# Assume files
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed = "!git ls-files -v | grep ^h | cut -c 3-"
	unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	gg = grep --break --heading --line-number
	f = "!git ls-files | grep -i"
	count = !git shortlog -sn
	pup = !git pull && git submodule init && git submodule update && git submodule status

	# Search all commits
	grep-all = !"git rev-list --all | xargs git grep '$1'"

	# Show Aliases
	aliases = !"git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'"

    # Merging
	ours = "!f() { git co --ours $@ && git add $@; }; f"
	theirs = "!f() { git co --theirs $@ && git add $@; }; f"

	# Shortcuts
	br = branch
	rl = reflog
	co = checkout
	st = status -s
	all = add -A
[color]
	diff = auto
	status = auto
	branch = auto
	ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = green bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	excludesfile = /Users/dave/.gitignore_global
	attributesfile = ~/.gitattributes
	autocrlf = input
[diff]
	compactionHeuristic = true
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
	keepBackup = false
# rewrites of repo paths
[url "git@github.com:"]
	insteadOf = "gh:"
	insteadOf = "git://github.com"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
	pushInsteadOf = "https://gist.github.com/"
[push]
	default = current
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
[rebase]
	autoStash = true
[pull]
	rebase = true
[ghq]
	root = ~/dev/src
	root = $GOPATH/src
[rerere]
	enabled = 1
[merge]
	conflictstyle = diff3
[mergetool]
	keepBackup = false
[interactive]
	diffFilter = diff-so-fancy | less --tabs=4 -RFX
