.idea/
.DS_Store
.vscode/
aws/
android/
composer/
ansible/
configstore/
dlv/
docker/
gcloud/
gnupg/
helm/
htop/
hub
kube/
npm/npmrc
zsh/local/
tmux/plugins/
wireshark/
session/
inkscape/

wgetrc
config_local

# Data
sublime-text-3/
sublime-merge/
cef_user_data/
QtProject/
pulse/
unity3d/
libaccounts-glib/
Electron/
google-chrome/
Code - OSS/
Slack/
streamlink-twitch-gui/
discord/
