.idea/
.DS_Store
.vscode/
aws/
android/
composer/
ansible/
configstore/
dlv/
docker/
docksal/
gcloud/
gnupg/
helm/
htop/
hub
kube/
npm/npmrc
nvim/.netrwhist
slackcat/
zsh/local
tmux/plugins
wireshark/
telepresence/

teamkube/

wgetrc
config_local
.zcompdump
.zcompcache/
.zlocalrc
*.zwc
*.zwc.old

# Linux
Code - OSS/
Slack/
session/
unity3d/
discord/
google-chrome/
sublime-text-3/
