.idea/
.DS_Store
.vscode/
aws/
composer/
ansible/
configstore/
deis/
gnupg/
helm/
htop/
hub
kube/
npm/npmrc
nvim/.netrwhist
psysh/
slackcat/
zsh/local
tmux/plugins
wireshark/
telepresence/id
wgetrc
config_local
.zcompdump
.zlocalrc
*.zwc
