<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.leenno.terminalfinder</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>9F9DC1C6-5DE4-49F7-9BAA-14E4CA01C956</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5615B51-DAE5-4A23-8376-67AA21C3ECC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AA3CDA14-C3B5-442B-B117-D61A244C6625</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFDCE43A-5AE3-4362-88D9-D0D3CD119C81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>LeEnno</string>
	<key>description</key>
	<string>Open currently selected Finder window in Terminal and vice versa</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TerminalFinder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fi</string>
				<key>subtext</key>
				<string>Open current Finder directory in iTerm</string>
				<key>text</key>
				<string>Finder → iTerm</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AA3CDA14-C3B5-442B-B117-D61A244C6625</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Finder"		set pathList to (quoted form of POSIX path of (folder of the front window as alias))	end tell		tell application "System Events"		set isRunning to (exists (processes where name is "iTerm"))	end tell		tell application "iTerm"		set termCount to count of terminals				if termCount is 0 then			set myTerm to (make new terminal)		else			set myTerm to the first terminal		end if				tell myTerm			if not isRunning and termCount is not 0 then				set mySession to current session			else				set mySession to (launch session "Default")			end if			tell mySession to write text "cd " &amp; pathList					end tell
		activate	end tellend alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>BFDCE43A-5AE3-4362-88D9-D0D3CD119C81</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "iTerm"
		tell the current session of current terminal
			write text "open -a Finder ./"		end tell
	end tellend alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>C5615B51-DAE5-4A23-8376-67AA21C3ECC3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>if</string>
				<key>subtext</key>
				<string>Open current iTerm directory in Finder</string>
				<key>text</key>
				<string>iTerm → Finder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F9DC1C6-5DE4-49F7-9BAA-14E4CA01C956</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>9F9DC1C6-5DE4-49F7-9BAA-14E4CA01C956</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>AA3CDA14-C3B5-442B-B117-D61A244C6625</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BFDCE43A-5AE3-4362-88D9-D0D3CD119C81</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>C5615B51-DAE5-4A23-8376-67AA21C3ECC3</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.ienno.de</string>
</dict>
</plist>
