"*":
  "atom-beautify":
    _analyticsUserId: "5dcfdbb3-8d59-41ec-b6e5-bb8885e1a057"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "spacegray-dark-ui"
      "base16-ocean-dark"
    ]
  drupal:
    fileTypesPhp: "module,install,inc,test"
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
  "markdown-preview-plus": {}
  minimap:
    plugins:
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "preview-plus":
    livePreview: true
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tool-bar":
    visible: false
  welcome:
    showOnStartup: false
