"*":
  "atom-beautify":
    _analyticsUserId: "5dcfdbb3-8d59-41ec-b6e5-bb8885e1a057"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "welcome"
      "wordpress-suite"
      "styleguide"
    ]
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    packagesWithKeymapsDisabled: [
      "wordpress-suite"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    useCustomTitleBar: true
  drupal:
    fileTypesPhp: "module,install,inc,test"
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "highlight-line":
    enableUnderline: true
  "markdown-preview": {}
  pigments:
    traverseIntoSymlinkDirectories: true
  "seti-syntax":
    dynamicColor: false
  "seti-ui":
    compactView: true
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
