<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>23C63AC3-E290-4F91-B8C5-FD923EE5C236</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>399CC730-1EB5-46C1-92E8-4F5CC9F71EB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4A7405D3-31A1-43C2-8994-2B189ECAE1DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFAF0CAB-D327-41EF-8C3B-93827FBA8C71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6584F958-675D-4B35-B7D4-C54CD9C94787</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B2FE40D-8A53-46A0-9B5C-0481C6D6DBF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B018FD4E-1D16-49FF-AC15-B1073F5E39C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B2FE40D-8A53-46A0-9B5C-0481C6D6DBF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D2BE7BCF-13D1-4B6B-9080-E72999B1E83D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2114AA21-C9D2-4C2D-9646-3E0B0125DC60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kadrach</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gear Music Player</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>play</string>
				<key>subtext</key>
				<string>Play / Pause the current track</string>
				<key>text</key>
				<string>Play / Pause</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6584F958-675D-4B35-B7D4-C54CD9C94787</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open -g gear://togglePlay</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B2FE40D-8A53-46A0-9B5C-0481C6D6DBF9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pause</string>
				<key>subtext</key>
				<string>Play / Pause the current track</string>
				<key>text</key>
				<string>Play / Pause</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B018FD4E-1D16-49FF-AC15-B1073F5E39C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>previous</string>
				<key>subtext</key>
				<string>Play the previous track</string>
				<key>text</key>
				<string>Previous Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A7405D3-31A1-43C2-8994-2B189ECAE1DF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open -g gear://previous</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CFAF0CAB-D327-41EF-8C3B-93827FBA8C71</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>next</string>
				<key>subtext</key>
				<string>Play the next track</string>
				<key>text</key>
				<string>Next Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>23C63AC3-E290-4F91-B8C5-FD923EE5C236</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open -g gear://next</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>399CC730-1EB5-46C1-92E8-4F5CC9F71EB4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

url="gear://rate?"

if [ "$query" = "up" ]; then
	url+="5"
elif [ "$query" = "down" ]; then
	url+="1"
elif [ "$query" = "none" ]; then
	url+="0"
else
	url+=$query
fi

open -g $url
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2114AA21-C9D2-4C2D-9646-3E0B0125DC60</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rate</string>
				<key>subtext</key>
				<string>Rate current track "up", "down" or "none"</string>
				<key>text</key>
				<string>Rate track</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2BE7BCF-13D1-4B6B-9080-E72999B1E83D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2114AA21-C9D2-4C2D-9646-3E0B0125DC60</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>23C63AC3-E290-4F91-B8C5-FD923EE5C236</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>399CC730-1EB5-46C1-92E8-4F5CC9F71EB4</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>4A7405D3-31A1-43C2-8994-2B189ECAE1DF</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6584F958-675D-4B35-B7D4-C54CD9C94787</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6B2FE40D-8A53-46A0-9B5C-0481C6D6DBF9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B018FD4E-1D16-49FF-AC15-B1073F5E39C4</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CFAF0CAB-D327-41EF-8C3B-93827FBA8C71</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D2BE7BCF-13D1-4B6B-9080-E72999B1E83D</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
