<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>sh.npc.environment</string>
  <key>ProgramArguments</key>
  <array>
    <string>sh</string>
    <string>-c</string>
    <string>
    launchctl setenv XDG_CONFIG_HOME "$XDG_CONFIG_HOME"
    launchctl setenv XDG_DATA_HOME "$XDG_DATA_HOME"
    launchctl setenv XDG_CACHE_HOME "$XDG_CACHE_HOME"
    </string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
