hub
zsh/.zlocalrc
aws/credentials
git/config_local
tmux/plugins
nvim/.netrwhist
# Update files for configstore (node module)
configstore/update-*.json
psysh/update_check.json
psych/psych_history 
npm/npmrc
