aws
composer
configstore/update-*.json
deis/config.json
git/config_local
gnupg/
helm/
hub
kube/
npm/npmrc
nvim/.netrwhist
psysh/update_check.json
psych/psych_history 
slackcat/
tmux/plugins
wireshark/
zsh/.zcompdump
zsh/.zlocalrc
