aws/credentials
configstore/update-*.json
deis/config.json
git/config_local
helm/
hub
kube/
npm/npmrc 
nvim/.netrwhist
psysh/update_check.json
psych/psych_history 
tmux/plugins
wireshark/
zsh/.zcompdump
zsh/.zlocalrc
