<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bchatard.jetbrains.workflow</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>12F9AD1F-2AAB-4B11-91EF-DAF051A7B05F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C064AA5-B87F-415B-8CEB-6299D6669FA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2A5BF866-0709-4BCC-B429-1598F29812D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C064AA5-B87F-415B-8CEB-6299D6669FA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>40643495-60FF-4B39-93FC-9B824826B311</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C064AA5-B87F-415B-8CEB-6299D6669FA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5B6FA7E8-B78F-4F83-BF61-F5A577D0F1FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C064AA5-B87F-415B-8CEB-6299D6669FA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8DEE0F33-4044-49A3-85D1-AE5984508486</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C064AA5-B87F-415B-8CEB-6299D6669FA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9C064AA5-B87F-415B-8CEB-6299D6669FA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09C46724-402D-4F4C-934F-C39A4A9E0F1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D0C771FF-6798-4558-A786-DA0C37246B1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C064AA5-B87F-415B-8CEB-6299D6669FA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EBC4824D-2259-4B43-BB3C-5A43FDB58C58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C064AA5-B87F-415B-8CEB-6299D6669FA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brice</string>
	<key>description</key>
	<string>Open project with one of JetBrains' product.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JetBrains - Open project</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>pstorm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching projects</string>
				<key>script</key>
				<string>. `pwd`/main.zsh `which pstorm` {query}</string>
				<key>subtext</key>
				<string>Open Project</string>
				<key>title</key>
				<string>Open PhpStorm Project</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D0C771FF-6798-4558-A786-DA0C37246B1F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>idea</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching projects</string>
				<key>script</key>
				<string>. `pwd`/main.zsh `which idea` {query} </string>
				<key>subtext</key>
				<string>Open Project</string>
				<key>title</key>
				<string>Open IntelliJ Idea Project</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>12F9AD1F-2AAB-4B11-91EF-DAF051A7B05F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>wstorm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching projects</string>
				<key>script</key>
				<string>. `pwd`/main.zsh `which wstorm` {query} </string>
				<key>subtext</key>
				<string>Open Project</string>
				<key>title</key>
				<string>Open WebStorm Project</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8DEE0F33-4044-49A3-85D1-AE5984508486</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>if [[ -n "{query}" ]]; then
	QUERY="{query}"
	BIN=${QUERY[(ws:||:)1]}
	PROJECT_PATH=${QUERY[(ws:||:)2]}
	
	`${BIN} ${PROJECT_PATH}`

    cat ${PROJECT_PATH}/.idea/.name
fi
</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9C064AA5-B87F-415B-8CEB-6299D6669FA1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Opening {query} project</string>
				<key>title</key>
				<string>Jetbrains</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>09C46724-402D-4F4C-934F-C39A4A9E0F1B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>charm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching projects</string>
				<key>script</key>
				<string>. `pwd`/main.zsh `which charm` {query} </string>
				<key>subtext</key>
				<string>Open Project</string>
				<key>title</key>
				<string>Open PyCharm Project</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>40643495-60FF-4B39-93FC-9B824826B311</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>mine</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching projects</string>
				<key>script</key>
				<string>. `pwd`/main.zsh `which mine` {query} </string>
				<key>subtext</key>
				<string>Open Project</string>
				<key>title</key>
				<string>Open RubyMine Project</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2A5BF866-0709-4BCC-B429-1598F29812D8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>appcode</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching projects</string>
				<key>script</key>
				<string>. `pwd`/main.zsh `which appcode` {query} </string>
				<key>subtext</key>
				<string>Open Project</string>
				<key>title</key>
				<string>Open AppCode Project</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5B6FA7E8-B78F-4F83-BF61-F5A577D0F1FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>clion</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching projects</string>
				<key>script</key>
				<string>. `pwd`/main.zsh `which clion` {query} </string>
				<key>subtext</key>
				<string>Open Project</string>
				<key>title</key>
				<string>Open CLion Project</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EBC4824D-2259-4B43-BB3C-5A43FDB58C58</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09C46724-402D-4F4C-934F-C39A4A9E0F1B</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>12F9AD1F-2AAB-4B11-91EF-DAF051A7B05F</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>2A5BF866-0709-4BCC-B429-1598F29812D8</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>40643495-60FF-4B39-93FC-9B824826B311</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>5B6FA7E8-B78F-4F83-BF61-F5A577D0F1FF</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>8DEE0F33-4044-49A3-85D1-AE5984508486</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>9C064AA5-B87F-415B-8CEB-6299D6669FA1</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>D0C771FF-6798-4558-A786-DA0C37246B1F</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>EBC4824D-2259-4B43-BB3C-5A43FDB58C58</key>
		<dict>
			<key>ypos</key>
			<real>760</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/bchatard/jetbrains-alfred-workflow</string>
</dict>
</plist>
