<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fheidl.alfred.copyallpathstoclipboard</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>00E3B36F-B198-420C-AD3D-9EFC62D6430E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3506695-6E5B-4C4C-8BDB-945D07D59A1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FABD1C6-E67F-489A-8A7E-BA43938AAF75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4143A56A-E32C-47CD-9442-351FF3CD8AE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00E3B36F-B198-420C-AD3D-9EFC62D6430E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5020B543-1B4F-4456-8EE0-47B9314200CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDC9F286-551F-47EA-9D94-F1196CBEC313</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>74CF062E-98B6-484B-9026-71767AC440B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5920BE6-954E-4F85-B71B-1CB3D0DFD1DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>76DF76C4-20CA-4C06-B8F0-49CA27DC5B58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABF0B506-3A82-4A67-A9F3-75F1C4B5FC52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8FB9058E-6D40-4E08-B7A7-94245BF6A92E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3506695-6E5B-4C4C-8BDB-945D07D59A1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FABD1C6-E67F-489A-8A7E-BA43938AAF75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>93F3E6B0-0250-46EA-B16B-800821F14DF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3506695-6E5B-4C4C-8BDB-945D07D59A1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FABD1C6-E67F-489A-8A7E-BA43938AAF75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>944660C0-58A5-42E2-9DE9-CC9061CEADA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7411F84-A31B-472D-86CA-B49838B751E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9609F385-AB63-46CE-B4AB-1FDC0E20ED64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3506695-6E5B-4C4C-8BDB-945D07D59A1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FABD1C6-E67F-489A-8A7E-BA43938AAF75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9B6F21B6-0E9A-4133-8C7B-96E187F9C34C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9609F385-AB63-46CE-B4AB-1FDC0E20ED64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ABF0B506-3A82-4A67-A9F3-75F1C4B5FC52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3506695-6E5B-4C4C-8BDB-945D07D59A1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FABD1C6-E67F-489A-8A7E-BA43938AAF75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B091BB5A-3506-4333-B94F-17279079D22C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3506695-6E5B-4C4C-8BDB-945D07D59A1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FABD1C6-E67F-489A-8A7E-BA43938AAF75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D4B7A3F3-6B4B-47FD-8173-9B5BD9C28295</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93F3E6B0-0250-46EA-B16B-800821F14DF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D5920BE6-954E-4F85-B71B-1CB3D0DFD1DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3506695-6E5B-4C4C-8BDB-945D07D59A1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FABD1C6-E67F-489A-8A7E-BA43938AAF75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DDC9F286-551F-47EA-9D94-F1196CBEC313</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3506695-6E5B-4C4C-8BDB-945D07D59A1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FABD1C6-E67F-489A-8A7E-BA43938AAF75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F310DE89-1433-4C53-A2EC-89A8D869D27F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FB9058E-6D40-4E08-B7A7-94245BF6A92E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F7411F84-A31B-472D-86CA-B49838B751E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3506695-6E5B-4C4C-8BDB-945D07D59A1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FABD1C6-E67F-489A-8A7E-BA43938AAF75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Franz Heidl</string>
	<key>description</key>
	<string>Copy Current File Paths to Clipboard as POSIX, HFS, or File URLs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Copy Paths to Clipboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F3506695-6E5B-4C4C-8BDB-945D07D59A1B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>paths</string>
				<key>runningsubtext</key>
				<string>Working…</string>
				<key>script</key>
				<string>python copypaths_scriptfilter.py {query}</string>
				<key>title</key>
				<string>Copy All Paths to Clipboard</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B091BB5A-3506-4333-B94F-17279079D22C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F7411F84-A31B-472D-86CA-B49838B751E3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy POSIX Paths to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>944660C0-58A5-42E2-9DE9-CC9061CEADA0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>copied to clipboard</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0FABD1C6-E67F-489A-8A7E-BA43938AAF75</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}" "-q"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ABF0B506-3A82-4A67-A9F3-75F1C4B5FC52</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy quoted POSIX Paths to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>76DF76C4-20CA-4C06-B8F0-49CA27DC5B58</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}" "-s"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DDC9F286-551F-47EA-9D94-F1196CBEC313</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy '~/'-POSIX Path to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>5020B543-1B4F-4456-8EE0-47B9314200CA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}" "-s" "-q"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8FB9058E-6D40-4E08-B7A7-94245BF6A92E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy quoted '~/'-POSIX Path to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>F310DE89-1433-4C53-A2EC-89A8D869D27F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}" "-hfs"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>93F3E6B0-0250-46EA-B16B-800821F14DF1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy HFS Path to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>D4B7A3F3-6B4B-47FD-8173-9B5BD9C28295</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}" "-hfs" "-q"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9609F385-AB63-46CE-B4AB-1FDC0E20ED64</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy quoted HFS Path to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>9B6F21B6-0E9A-4133-8C7B-96E187F9C34C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy file URL to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>74CF062E-98B6-484B-9026-71767AC440B5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}" "-url"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D5920BE6-954E-4F85-B71B-1CB3D0DFD1DE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy quoted file URL to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>4143A56A-E32C-47CD-9442-351FF3CD8AE8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}" "-url" "-q"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00E3B36F-B198-420C-AD3D-9EFC62D6430E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Copy Paths to Clipboard
=======================

Workflow for Alfred 2 to copy the paths of your current files and Documents to the clipboard in a variety of formats. 


Options
-------

"-s" '~/'-shorten the paths if under user home (POSIX only)

„-hfs" copy as HFS paths

"-q" copy as quoted paths

"-n" copy multiple paths on a new line each instead of comma-separated

„-url“ copy as url-encoded file urls


For further notes on usage and options, please consult the README at:

http://github.com/franzheidl/copy-paths-to-clipboard

===
Franz Heidl 2013-2014, MIT license.</string>
	<key>uidata</key>
	<dict>
		<key>00E3B36F-B198-420C-AD3D-9EFC62D6430E</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>0FABD1C6-E67F-489A-8A7E-BA43938AAF75</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4143A56A-E32C-47CD-9442-351FF3CD8AE8</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>5020B543-1B4F-4456-8EE0-47B9314200CA</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>74CF062E-98B6-484B-9026-71767AC440B5</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>76DF76C4-20CA-4C06-B8F0-49CA27DC5B58</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>8FB9058E-6D40-4E08-B7A7-94245BF6A92E</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>93F3E6B0-0250-46EA-B16B-800821F14DF1</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>944660C0-58A5-42E2-9DE9-CC9061CEADA0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9609F385-AB63-46CE-B4AB-1FDC0E20ED64</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>9B6F21B6-0E9A-4133-8C7B-96E187F9C34C</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>ABF0B506-3A82-4A67-A9F3-75F1C4B5FC52</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B091BB5A-3506-4333-B94F-17279079D22C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D4B7A3F3-6B4B-47FD-8173-9B5BD9C28295</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>D5920BE6-954E-4F85-B71B-1CB3D0DFD1DE</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>DDC9F286-551F-47EA-9D94-F1196CBEC313</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>F310DE89-1433-4C53-A2EC-89A8D869D27F</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>F3506695-6E5B-4C4C-8BDB-945D07D59A1B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F7411F84-A31B-472D-86CA-B49838B751E3</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.franzheidl.de</string>
</dict>
</plist>
