<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ch.tkte.jira</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>0231F183-1644-48F8-BAF7-3BB2066961CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C74C06C-CE8E-4357-8CF2-C031E762629C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>77B8C96A-F615-41A0-BA9F-42CD26555084</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to the clipboard</string>
			</dict>
		</array>
		<key>0A4C6854-AFE3-443E-B0D4-4F56F69C0BC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C74C06C-CE8E-4357-8CF2-C031E762629C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>77B8C96A-F615-41A0-BA9F-42CD26555084</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to the clipboard</string>
			</dict>
		</array>
		<key>0CA55E07-F2C5-42B8-880C-E233D49E0146</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>858E5B9A-143E-4C4C-BB7C-3BF3FE04D7E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>20A42D4A-70F7-42FF-9490-940F2BC356CD</key>
		<array/>
		<key>539106BC-477B-4BD4-ADB1-BBB88C5E1A66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>394014A0-97C1-4848-B9C3-6384F66681E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>769CA9DC-1DDE-4411-8485-F8549F52AF16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FB10D0E-A185-491A-8726-84382F394183</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F2EE1C3-2E1F-4CB8-AAAB-AD7196B55349</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C74C06C-CE8E-4357-8CF2-C031E762629C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>77B8C96A-F615-41A0-BA9F-42CD26555084</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to the clipboard</string>
			</dict>
		</array>
		<key>807CCA50-DEE2-4D42-9EB1-24B9C99C2411</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C74C06C-CE8E-4357-8CF2-C031E762629C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>77B8C96A-F615-41A0-BA9F-42CD26555084</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to the clipboard</string>
			</dict>
		</array>
		<key>858E5B9A-143E-4C4C-BB7C-3BF3FE04D7E2</key>
		<array/>
		<key>923D5A8B-D17D-4721-B92C-9ACB7DDF9553</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D71524C-0A68-4FD9-AE04-1D386627AECB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D0B13388-4AE8-492B-B61D-B101510762C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C74C06C-CE8E-4357-8CF2-C031E762629C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>77B8C96A-F615-41A0-BA9F-42CD26555084</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to the clipboard</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyler Kennedy</string>
	<key>description</key>
	<string>Uses the JIRA API for deeper integration.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Advanced JIRA</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jira settings</string>
				<key>runningsubtext</key>
				<string>Finding...</string>
				<key>script</key>
				<string>PYTHONPATH=deps.zip python external.py settings</string>
				<key>subtext</key>
				<string>Open the Settings Folder</string>
				<key>title</key>
				<string>Settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>769CA9DC-1DDE-4411-8485-F8549F52AF16</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>9FB10D0E-A185-491A-8726-84382F394183</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>PYTHONPATH=deps.zip python external.py set root "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D71524C-0A68-4FD9-AE04-1D386627AECB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jira set domain</string>
				<key>script</key>
				<string>PYTHONPATH=deps.zip python external.py set root "{query}" --no-set</string>
				<key>subtext</key>
				<string>Set the JIRA domain to use</string>
				<key>title</key>
				<string>Set Domain</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>923D5A8B-D17D-4721-B92C-9ACB7DDF9553</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jira set consumer</string>
				<key>script</key>
				<string>PYTHONPATH=deps.zip python external.py set consumer_key "{query}" --no-set</string>
				<key>subtext</key>
				<string>Set the JIRA Consumer Key to use when authenticating</string>
				<key>title</key>
				<string>Set Consumer Key</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0CA55E07-F2C5-42B8-880C-E233D49E0146</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>PYTHONPATH=deps.zip python external.py set consumer_key "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>858E5B9A-143E-4C4C-BB7C-3BF3FE04D7E2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jira step 1</string>
				<key>script</key>
				<string>PYTHONPATH=deps.zip python external.py step 1</string>
				<key>title</key>
				<string>JIRA Authentication Step #1</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>539106BC-477B-4BD4-ADB1-BBB88C5E1A66</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>394014A0-97C1-4848-B9C3-6384F66681E8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jira step 2</string>
				<key>script</key>
				<string>PYTHONPATH=deps.zip python external.py step 2</string>
				<key>title</key>
				<string>JIRA Authentication Step #2</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>20A42D4A-70F7-42FF-9490-940F2BC356CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jira search</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>PYTHONPATH=deps.zip python external.py search "text ~ \"{query}\""</string>
				<key>subtext</key>
				<string>Search for tickets</string>
				<key>title</key>
				<string>Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>807CCA50-DEE2-4D42-9EB1-24B9C99C2411</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jira in sprint</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>PYTHONPATH=deps.zip python external.py search "assignee = currentUser()  and status not in (\"Closed\", \"Resolved\") and sprint in opensprints()"
</string>
				<key>subtext</key>
				<string>Find open tickets assigned to you in the current sprint</string>
				<key>title</key>
				<string>Tickets In Sprint</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0231F183-1644-48F8-BAF7-3BB2066961CC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jira my</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>export PYTHONPATH=deps.zip

if [ "{query}" = "" ] || [ "{query}" = " "]
then
    python external.py search "assignee = currentUser() and status not in (Closed, Resolved)"
else
    python external.py search "assignee = currentUser() and status not in (Closed, Resolved) and text ~ \"{query}\""
fi</string>
				<key>subtext</key>
				<string>Search open tickets assigned to you</string>
				<key>title</key>
				<string>My</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D0B13388-4AE8-492B-B61D-B101510762C5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>77B8C96A-F615-41A0-BA9F-42CD26555084</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3C74C06C-CE8E-4357-8CF2-C031E762629C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jira open</string>
				<key>script</key>
				<string>export PYTHONPATH=deps.zip
python external.py get root</string>
				<key>subtext</key>
				<string>Open JIRA in your browser</string>
				<key>title</key>
				<string>Open</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A4C6854-AFE3-443E-B0D4-4F56F69C0BC8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jira boards</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>PYTHONPATH=deps.zip python external.py boards "{query}"</string>
				<key>subtext</key>
				<string>Search GreenHopper Boards</string>
				<key>title</key>
				<string>Boards</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7F2EE1C3-2E1F-4CB8-AAAB-AD7196B55349</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0231F183-1644-48F8-BAF7-3BB2066961CC</key>
		<dict>
			<key>ypos</key>
			<real>1020</real>
		</dict>
		<key>0A4C6854-AFE3-443E-B0D4-4F56F69C0BC8</key>
		<dict>
			<key>ypos</key>
			<real>1390</real>
		</dict>
		<key>0CA55E07-F2C5-42B8-880C-E233D49E0146</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>20A42D4A-70F7-42FF-9490-940F2BC356CD</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>394014A0-97C1-4848-B9C3-6384F66681E8</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>3C74C06C-CE8E-4357-8CF2-C031E762629C</key>
		<dict>
			<key>ypos</key>
			<real>1260</real>
		</dict>
		<key>3D71524C-0A68-4FD9-AE04-1D386627AECB</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>539106BC-477B-4BD4-ADB1-BBB88C5E1A66</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>769CA9DC-1DDE-4411-8485-F8549F52AF16</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>77B8C96A-F615-41A0-BA9F-42CD26555084</key>
		<dict>
			<key>ypos</key>
			<real>1260</real>
		</dict>
		<key>7F2EE1C3-2E1F-4CB8-AAAB-AD7196B55349</key>
		<dict>
			<key>ypos</key>
			<real>1610</real>
		</dict>
		<key>807CCA50-DEE2-4D42-9EB1-24B9C99C2411</key>
		<dict>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>858E5B9A-143E-4C4C-BB7C-3BF3FE04D7E2</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>923D5A8B-D17D-4721-B92C-9ACB7DDF9553</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>9FB10D0E-A185-491A-8726-84382F394183</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>D0B13388-4AE8-492B-B61D-B101510762C5</key>
		<dict>
			<key>ypos</key>
			<real>1140</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>tkte.ch</string>
</dict>
</plist>
